{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h1 class="m-b-10">Bienvenido a Perich</h1>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-sm-12">  
                            <div class="card">
                                <div class="card-header">
                                    <h5>Empezar</h5>
                                </div>
                                <div class="card-block">
                                    <p style="color:black">Hola, gracias por utilizar Perich. Actualmente nos encontramos en fase de desarrollo y solo están disponibles algunas funcionalidades. ¿Con cuál criptosistema te gustaría empezar a trabajar?</p>                                                         
                                        <div style="align-content: center;">
                                            <navbar>                                        
                                                <a href="/RSA.html">RSA</a>
                                                <a href="/rabin.html" >Rabin</a>
                                                <a href="/elgamal.html" >ElGamal</a>
                                                <a href="/menezes.html" >Menezes-Vanstone</a>                                        
                                            </navbar>
                                        </div>
                                        <br>
                                        <br>
                                        <p style="color:black">Si eres nuevo usando Perich, te aconsejamos echar un vistazo a nuestro video introductorio.</p>
                                        <br>
                                        <div class="container">                                            
                                            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/7A8mqGSHcS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>                                        
                                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7A8mqGSHcS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
